.services {
  background: #ffffff;

  border-radius: 10px;
  width: 200px;
}
.service-image:hover {
  transform: rotate(360deg);
  transition: 3s;
}
.service-box {
  height: 250px;
  padding: 10px;
  margin: 10px;
}
.service-box {
  background-color: rgb(255, 255, 255);

  border-radius: 5px;
}
