.services {
  background: #ffffff;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 200px;
}
.service-image:hover {
  transform: rotate(360deg);
  transition: 3s;
}
.service-box {
  height: 250px;
  padding: 10px;
  margin: 10px;
}
.service-box {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 2px 6px lightgray;
  border-radius: 5px;
}
